.MuiCardMedia-root {
  background-size: contain !important;
}

.makeStyles-media-2 {
  height: 300px !important;
}

.card {
  margin: 20px;
}

.cardImage {
  margin: 10px;
}

.MuiTypography-gutterBottom {
  color: black;
}

.author {
  color: black;
  font-weight: bold;
}

.MuiButtonBase-root.MuiCardActionArea-root, .MuiCardActions-root.MuiCardActions-spacing {
  background-color: rgba(155, 154, 154, 0.6);
}

.MuiButtonBase-root.MuiCardActionArea-root {
  height: 400px;
}
